<%- include("partials/header"); %>

<body>
<% invoiceDetail.slice(0, 1).forEach((pat)=>{%>
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2" style="padding-left:30px;padding-top: 20px;background-color: rgba(146, 255, 255, 0.199);border-radius: 10px;height:600px;width:250px; z-index: 10;position: absolute;left:40px;top:80px;">
    <!-- Sidebar -->
    <h3>Xem thêm:</h3>
    <a href="/invoiceList/<%= pat.PATIENT_ID %>">
      <button class="btn btn-secondary">Danh sách thanh toán</button>
  </a>  
  </div>

  <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10">
    <div class="container-xl px-4 mt-4">
      <div class="row">
        
        <div class="col-xl-8"style="right:100px;position: absolute;">
          <!-- Account details card-->
          <div class="card mb-4 w-100">
            <div class="card-header">Chi tiết thanh toán</div>
            <div class="card-body">
              <form action="" method="post">               
                 <div class="row gx-3 mb-3">
                  <div class="col-md-6">

                    <label class="small mb-1" for="FEE">Số tiền cần trả</label> 

                    <input type="text" id="FEE" class="form-control form-control-lg" value="<%= pat.FEE %>" disabled>
                    <!-- <% if (locals.errorMessage1) { %>
                      <div class="small text-danger"><%= errorMessage1%></div>
                    <% } %> -->
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="PAID_FEE">Số tiền bệnh nhân đưa</label>
                    <input type="text" id="PAID_FEE"class="form-control form-control-lg" value="<%= pat.PAID_FEE %>" disabled>
                    <!-- <% if (locals.errorMessage2) { %>
                      <div class="small text-danger"><%= errorMessage2 %></div>
                    <% } %> -->
                  </div>
                </div>
                
          
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label class="small mb-1" for="CHANGES">Tiền thối</label>
                    <input type="text" id="CHANGES"class="form-control form-control-lg" value="<%= pat.CHANGES%>" disabled>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="APPOINTMENT_DATE">Ngày thanh toán</label>
                    <input type="text" id="APPOINTMENT_DATE"class="form-control form-control-lg" value="<%=pat.APPOINTMENT_DATE.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' })%>" disabled>
                  </div>
                  
                </div>
                <div class="row gx-3 mb-3">                
                  <div class="col-md-6">
                    <label class="small mb-1" for="PAYMENT_METHOD">Phương thức thanh toán</label>
                    <input type="text" id="PAYMENT_METHOD"class="form-control form-control-lg" value="<%= pat.PAYMENT_METHOD%>" disabled>
                  </div>
                  
                </div>
                
                <div class="mb-3">
                  <label class="small mb-1" for="DENTIST_NAME">Tên nha sĩ phụ trách</label>
                  <textarea disabled id="DENTIST_NAME" name="DENTIST_NAME" class="form-control form-control-lg" rows="2"><%= pat.DENTIST_NAME %></textarea>
                </div>

                <%if(role =="staff" || role =="admmin"){%>

                  <button id="updateButton" class="btn btn-primary" type="button">Update</button>
                  <%}else{%>
                    <button type="button" class="btn btn-secondary" disabled>You dont have permission</button>
                    <%}%>

                
              </form>
              <br><br>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% }) %>
<script>
document.getElementById("updateButton").addEventListener("click", function () {
  var formElements = document.querySelectorAll("form input, form textarea");
  var updateButton = document.getElementById("updateButton");

  if (updateButton.textContent === "Update") {
    formElements.forEach(function (element) {
      if (element.id !== "patientID" && element.id !== "TreatmentFee" && element.id !== "Treatmentpaid"&& element.id !== "DOB"&& element.id !== "patientName"&& element.id !== "description") {
        element.removeAttribute("disabled");
      }
    });

    updateButton.textContent = "Done";
  } else if (updateButton.textContent === "Done") {
    formElements.forEach(function (element) {
      element.setAttribute("disabled", true);
    });

    updateButton.textContent = "Update";
  }
});


</script>
</body>