<%- include("partials/header"); %>

<body>

<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2" style="padding-left:30px;padding-top: 20px;background-color: rgba(146, 255, 255, 0.199);border-radius: 10px;height:600px;width:250px; z-index: 10;position: absolute;left:40px;top:80px;">
    <!-- Sidebar -->
    <h3>Xem thêm:</h3>
    <% treatmentDetail.forEach((pat)=>{%>

    <a href="/unPaidTreatment/<%= pat.PATIENT_ID %>">
      <button class="btn btn-secondary">Về lại d/s điều trị</button>
  </a>  

  </div>



  <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10">
    <div class="container-xl px-4 mt-4">
      <div class="row">
        
        <div class="col-xl-8"style="right:100px;position: absolute;">
          <!-- Account details card-->
          <div class="card mb-4 w-100">
            <div class="card-header">Chi tiết điều trị</div>
            <div class="card-body">
              <form action="" method="post">               
                 <div class="row gx-3 mb-3">
                  <div class="col-md-6">

                    <label class="small mb-1" for="patientID">ID</label> 
                    

                    <input type="text" id="patientID" class="form-control form-control-lg" value="<%= pat.TREATMENT_ID %>" disabled>
                    <!-- <% if (locals.errorMessage1) { %>
                      <div class="small text-danger"><%= errorMessage1%></div>
                    <% } %> -->
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="DentistName">Nha sĩ chính</label>
                    <input type="text" id="DentistName"class="form-control form-control-lg" value="<%= pat.DentistName %>" disabled>
                    <!-- <% if (locals.errorMessage2) { %>
                      <div class="small text-danger"><%= errorMessage2 %></div>
                    <% } %> -->
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label class="small mb-1" for="AssistantName">Nha sĩ phụ</label>
                    <input type="text" id="AssistantName"class="form-control form-control-lg" value="<%= pat.AssistantName %>" disabled>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="unPaidMoney">Tổng số tiền còn thiếu cho điều trị</label>
                    <input type="text" id="unPaidMoney"class="form-control form-control-lg" value="<%= pat.unPaidMoney %>" disabled>
                  </div>
                  
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                      <label class="small mb-1" for="treatmentStatus">Tình trạng điều trị</label>
                      <select id="treatmentStatus" name="treatmentStatus" class="form-control form-control-lg" disabled>
                        <option value="GG" selected><%=pat.TREATMENT_STATUS%></option>  
                        <option value="completed">Completed</option>
                          <option value="inProgress">In progress</option>
                          <option value="canceled">Canceled</option>
                      </select>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="unPaidAppoint">Những buổi hẹn chưa trả</label>
                    <input type="text" id="unPaidAppoint"class="form-control form-control-lg" value="<%= pat. %>" disabled>
                  </div>
                </div>      
              
               
                 
                </div>
               
               
                <div class="mb-3">
                  <label class="small mb-1" for="description">Mô tả điều trị</label>
                  <textarea disabled id="description" name="description" class="form-control form-control-lg" rows="2"><%= pat.DESCRIPTION %></textarea>
                </div>
                <div class="mb-3">
                  <label class="small mb-1" for="clinic">Nơi khám</label>
                  <textarea disabled id="clinic" name="clinic" class="form-control form-control-lg" rows="2"><%= pat.ClinicAddress %></textarea>
                </div>
                <% }) %>
                <button id="updateButton" class="btn btn-primary" type="button">Update</button>

                
              </form>
              <br><br>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("updateButton").addEventListener("click", function () {
    var formElements = document.querySelectorAll("form input, form textarea, form select");
    var updateButton = document.getElementById("updateButton");
    var descriptionTextarea = document.getElementById("description");
  
    if (updateButton.textContent === "Update") {
      formElements.forEach(function (element) {
        if (element.id !== "patientID" && element.id !== "TreatmentFee" && element.id !== "Treatmentpaid" && element.id !== "DOB" && element.id !== "patientName" && element.id !== "Gender") {
          element.removeAttribute("disabled");
        }
      });
  
      // Enable the description textarea
      descriptionTextarea.removeAttribute("disabled");
  
      updateButton.textContent = "Done";
    } else if (updateButton.textContent === "Done") {
      formElements.forEach(function (element) {
        element.setAttribute("disabled", true);
      });
  
      // Disable the description textarea
      descriptionTextarea.setAttribute("disabled", true);
  
      updateButton.textContent = "Update";
    }
  });
  </script>
  
</body>